<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Konfigurační soubor pro NuGet balíčky -->
    <!-- Nastaví cestu k balíčkům na <složka řešení>\packages -->
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageRestore>
    <!-- Umožní stahovat chybějící balíčky -->
    <add key="enabled" value="True" />
    <!-- Automaticky testuje zda nechybí nějaký balíček -->
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>

