<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Konfigurační soubor pro NuGet balíčky 
         MUSÍ BÝT ve stejném adresáři jako soubor řešení. -->
    <!-- Nastaví cestu na složku, kam se mají balíčky nainstalovat -->
    <add key="repositoryPath" value=".\packages" />
  </config>
  <packageRestore>
    <!-- Umožní stahovat chybějící balíčky -->
    <add key="enabled" value="True" />
    <!-- Automaticky testuje zda nechybí nějaký balíček -->
    <add key="automatic" value="True" />
  </packageRestore>
</configuration>

